.transparent {
  background-color: transparent;
}

.wrapper {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(23, 0, 147, 0.6) 20%, rgba(23, 0, 64, 0.8) 70%, #170040 87%), url(../images/wrapper.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  height: 800px;
}

.custom-shape-divider-top-1746882921 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1746882921 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1746882921 .shape-fill {
  fill: #170040;
}

.cta img {
  max-width: 500px;
}

.about {
  background: #170093;
  background: linear-gradient(180deg, rgb(23, 0, 147) 50%, #170040 100%);
}

.about .row img {
  filter: invert(1);
}

/* divider about */
.custom-shape-divider-top-1746883469 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1746883469 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-top-1746883469 .shape-fill {
  fill: #170040;
}
